@tailwind base;

html, 
body {
    height: 100%;
}

body {
    background-color: #2B2B2B;
}

h1, h2 {
    font-family: Oswald, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
    color: white;
}

a {
    text-decoration: underline;
}

hr {
    margin-bottom: 1rem;
}

@tailwind components;

@tailwind utilities;

.container {
    width: 100%;
}

.inner-container {
    width: 90%;
    margin: 0px auto;
}

.transform-50 {
    transform: translateY(-50%);
}

.top-50-pct {
    top: 50%;
}

.text-block p {
    padding-bottom: 20px;
}

.text-block a {
    text-decoration: underline;
}

.page-heading {
    color: rgba(160, 174, 192, var(--tw-text-opacity));
    font-size: 3rem;
    text-decoration: underline;
}

/** BLOG POST CSS **/
.blog-post-content p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.blog-post-content ol, ul {
    margin-left: 1rem;
}

.blog-post-content ol li {
    list-style-type: decimal;
    margin-bottom: 1rem;
    font-size: 1.25rem; 
}

.blog-post-content ul li {
    list-style-type: disc;
    margin-bottom: 1rem;
    font-size: 1.25rem; 
}

@media (min-width: 640px) {
    .blog-post-content ol, ul {
        margin-left: 2rem;
    }
}

@media (min-width: 640px) {
    .page-heading {
      font-size: 7rem;
    }
}
  
@media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
}
  
@media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
}
  
@media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
}
